.address-container {
    margin: 54px 0px 135px 0px;
    display: flex;
    justify-content: center;

    .address-stepper-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 70px;

        .css-10mg1vw-MuiStepper-root {
            width: 55%;
            display: flex;
            justify-content: center;
        }

        .css-zpcwqm-MuiStepConnector-root {

            .css-z7uhs0-MuiStepConnector-line {
                border: none;
                position: absolute;
                left: 140px;
                top: -10px;

                &::before {
                    display: "flex";
                    justify-content: center;
                    content: url("../../../../img/right-arrow.png");
                }


            }

        }

        .css-ascpo7-MuiStepLabel-root {
            position: relative;

            .MuiStepLabel-iconContainer {
                .Mui-active {
                    color: rgba(0, 0, 0, 0.38);
                }

                .Mui-completed {
                    border-radius: 100%;
                    color: #1F9151;
                }
            }

            .MuiStepLabel-labelContainer {
                position: absolute;
                top: -12px;
                left: 80px;

                .Mui-disabled,
                .Mui-active {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #B8B8B8;
                }

                .Mui-completed {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #1F9151;
                }
            }
        }
    }

    .address-select-container {
        width: 100%;
        justify-content: center;
        display: flex;

        .address-details {
            width: 85%;

            .contain {
                margin-bottom: 40px;

                h2 {
                    font-weight: 500;
                    color: #2A3A31;
                    margin-bottom: 4px;
                }

                p {
                    font-size: 18px;
                    line-height: 18px;
                    color: #969696;
                    font-weight: 400;
                }
            }

            .address-card-container {
                padding: 18px 20px;
                border: 1px solid #D6D6D6;
                border-radius: 16px;
                position: relative;
                cursor: pointer;
                min-height: 320px;

                &.active {
                    border: 1px solid #1F9151;
                    box-shadow: 0px 4px 24px 0px #8E8E8E40;
                }

                .active-check {
                    height: 36px;
                    width: 36px;
                    background-color: #1F9151;
                    color: #FFFFFF;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: -15px;
                    top: -15px;
                }

                .address-btn {
                    height: 32px;
                    width: 32px;
                    border-radius: 100%;
                    margin-right: 12px;
                    border: 1px solid #303030;
                    color: #303030;

                    svg {
                        font-size: 18px;
                    }

                    &:last-child {
                        margin-right: 0px;
                    }

                    &.active {
                        border: 1px solid #1F9151;
                        color: #1F9151;
                    }
                }

                .person-name {
                    margin-top: 22px;
                    color: #303030;
                }

                address {
                    color: #6D6D6D;
                    font-size: 16px;
                    line-height: 20px;
                    margin: 14px 0px 26px 0px;
                }

                .contact-number {
                    .contact-heading {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: 600;
                        color: #303030;
                        margin-bottom: 8px;
                    }

                    .title {
                        width: 80px;
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #3C3C3C;
                    }

                    .details {
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 400;
                        color: #6D6D6D;
                    }
                }

                .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
                    color: #1F9151;

                    &.Mui-checked {
                        color: #1F9151;
                        border-color: #1F9151;
                    }
                }

                .css-ahj2mt-MuiTypography-root {
                    font-size: 12px;
                    line-height: 15px;
                    color: #B1B1B1;
                    font-weight: 500;
                }
            }

            .proceed-btn {
                width: auto;
                margin-top: 28px;
            }
        }

    }

    .select-delivery-option-container {
        .delivery-option-details {
            padding: 42px 24px 20px;
            border: 1px solid #E0E0E0;
            border-radius: 8px;

            h3 {
                font-weight: 500;
                margin-bottom: 32px;
            }

            .delivery-inner-box {
                border: 1px solid #E0E0E0;
                padding: 68px 52px 20px 34px;
                box-shadow: 0px 4px 12px 0px #B6B6B640;
                border-radius: 8px;


                .product-img-box {
                    width: 64px;
                    height: 64px;
                    border-radius: 8px;
                    border: 1px solid #E0E0E0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 22px;

                    img {
                        width: 50px;
                    }

                    &:last-child {
                        margin-right: 0px;
                    }
                }

                .view-all-img-box {
                    width: 72px;
                    height: 64px;
                    border: 1px dashed #2A3A31CC;
                    background-color: #1F91511A;
                    color: #1F9151;
                    font-size: 12px;
                    line-height: 17px;
                    font-weight: 500;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    cursor: pointer;
                }

                .delivery-slot-select {
                    height: 86px;
                    border: 1px solid #E0E0E0;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    padding: 0px 29px 0px 18px;
                    margin-top: 36px;

                    .title {
                        font-size: 18px;
                        line-height: 18px;
                        color: #2A3A31;
                        font-weight: 500;
                        border-right: 1px solid #E0E0E0;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding-right: 19px;
                        margin-right: 30px;
                        width: 250px;
                    }

                    .time-icon {
                        font-size: 28px;
                        margin-right: 7px;
                        color: #2A3A31;
                    }

                    .slot-time {
                        font-size: 18px;
                        line-height: 18px;
                        color: #2A3A31;
                        font-weight: 500;
                    }

                    .down-arrow-icon {
                        color: #141B34;
                    }
                }

                .proceed-payment-btn {
                    width: auto;
                    margin-top: 28px;
                }
            }
        }

        .order-summary-container {
            padding: 24px 16px 13px;
            border: 1px solid #E0E0E0;
            border-radius: 8px;

            .order-title {
                color: #2A3A31;
                font-weight: 500;
                padding-bottom: 28px;
                margin-bottom: 40px;
                border-bottom: 1px solid #E0E0E0;
            }

            .product-list {

                border-bottom: 1px solid #E0E0E0;
                padding-bottom: 17px;
                margin-bottom: 32px;

                .product-name {
                    color: #2A3A31;
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 500;
                }

                .product-weight {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: #1A1A1A;
                }
            }

            .total-amount {
                padding-top: 33px;

                .heading {
                    font-size: 18px;
                    line-height: 18px;
                    color: #2A3A31;
                    font-weight: 500;
                }

                .amount {
                    font-size: 22px;
                    line-height: 33px;
                    font-weight: 600;
                    color: #1A1A1A;
                }
            }

            .total-saving {
                padding: 8px 13px;
                background-color: #1F91511A;
                margin: 16px 0px 25px 0px;

                .heading {
                    font-size: 16px;
                    line-height: 16px;
                    color: #1F9151;
                    font-weight: 500;
                }

                .amount {
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: 600;
                    color: #1F9151;
                }
            }

            .information {
                padding: 8px 16px;
                background-color: #FFFAE6;

                .info-icon {
                    color: #141B34;
                    margin-right: 12px;
                }

                .text {
                    color: #000000;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                }
            }
        }
    }

    .payment-option-container {
        width: 100%;
        display: flex;
        justify-content: center;

        .payment-details {
            width: 45%;
            margin-left: 118px;
        }

        .payment-option-box {
            padding: 16px 12px;
            border: 0.78px solid #E4E7EC;
            background-color: #FFFFFF;
            border-radius: 6px;
            margin-bottom: 16px;

            &.active {
                box-shadow: 0px 6px 20px 0px #4C775F26;
                border: 1px solid #1F915180
            }

            .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
                padding: 0px;
                margin-right: 12px;

                &.Mui-checked {
                    color: #1F9151;
                }
            }

            .payment-title {
                font-size: 16px;
                line-height: 16px;
                font-weight: 500;
                color: #2A3A31;
            }

            .info {
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
                color: #2A3A31;
                opacity: 70%;
            }

            .card-type-img {
                width: 36px;
                height: 25px;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                border: 1px solid #F2F4F7;
                border-radius: 5px;

                &:last-child {
                    margin-right: 0px;
                }
            }

            .form-field-title {
                font-size: 14px;
                line-height: 20px;
                color: #353535;
                font-weight: 500;
                margin-bottom: 8px;
            }

            .form-text-field {
                .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
                    padding: 0px 16px;
                    height: 46px;

                }

                .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                    border: 1px solid #CACACA;
                    border-radius: 8px;
                }

                .css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
                    padding: 0px 16px;
                    height: 46px;
                }
            }
        }

        .place-order-btn {
            width: auto;
            margin-top: 28px;
        }
    }

}

.common-modal {
    &.select-slot-modal-container {
        width: 900px;
        height: 460px;

        .modal-header {
            height: 70px;
            padding: 0px 32px;
            background-color: #EDEDED;
            border-radius: 8px 8px 0px 0px;
            display: flex;
            align-items: center;

            .modal-title {
                font-weight: 500;
                color: #000000;
            }

            .modal-close-icon {
                color: #141B34;
            }
        }

        .modal-body {
            .days-slot-tab {
                padding: 24px 32px 15px;
                .css-jpln7h-MuiTabs-scroller{
                    overflow-x: auto !important;
                    padding-bottom: 10px;
                }
                .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
                    height: 42px;
                    border: 1px solid #CDCDCD;
                    border-radius: 4px;
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 500;
                    color: #5A5A5A;
                    text-transform: capitalize;
                    margin-right: 27px;
                    padding: 24px 12px;

                    &.Mui-selected {
                        background-color: #1F91511A;
                        border: none;
                        color: #1F9151;

                    }

                    &:last-child {
                        margin-right: 0px;
                    }
                }

                .css-1aquho2-MuiTabs-indicator {
                    display: none;
                }
            }

            hr {
                color: #AEAEAE;
            }

            .slot-timing-tab {
                padding: 0px 32px;
                background-color: #EDEDEDCC;
                opacity: 80%;
                .css-jpln7h-MuiTabs-scroller{
                    overflow-x: auto !important;
                }
                .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
                    padding: 0px;
                    margin-right: 25px;
                    text-transform: capitalize;
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 500;
                    color: #1A1A1A;

                    &:last-child {
                        margin-right: 0px;
                    }

                    &.Mui-selected {
                        color: #000000;
                        font-weight: 600;
                    }
                }

                .css-1aquho2-MuiTabs-indicator {
                    background-color: #1A1A1A;
                }

            }

            .time-slot-checkbox {
                margin-top: 41px;
                padding: 0px 32px;

                .css-j204z7-MuiFormControlLabel-root {
                    margin-right: 0px;
                    height: 48px;
                    border: 1px solid #1F9151;
                    width: 100%;

                    .css-ahj2mt-MuiTypography-root {
                        font-size: 18px;
                        line-height: 18px;
                        font-weight: 500;
                        color: #000000;
                    }

                    .css-vqmohf-MuiButtonBase-root-MuiRadio-root {
                        color: #BEBEBE;

                        &.Mui-checked {
                            color: #1F9151;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 510px) {
    .address-container {
        .select-delivery-option-container {
            .product-img-box {
                margin-bottom: 12px;
            }

            .delivery-option-details {
                padding: 24px !important;

                .delivery-inner-box {
                    padding: 16px !important;
                }
            }

            .total-amount {
                .heading {
                    font-size: 14px !important;
                }

                .amount {
                    font-size: 18px !important;
                }
            }

        }
    }
}

@media only screen and (max-width: 968px) {

    .common-modal {
        &.select-slot-modal-container {
            width: calc(100% - 30px);
            height: calc(100% - 30px);
        }
    }
    .address-container{
        .payment-option-container {
            .payment-details{
                width: 80% !important;
            }
        }
    } 
}

@media only screen and (max-width: 640px) {

    .address-container {
        .select-delivery-option-container {
            .delivery-option-details {
                .delivery-inner-box {
                    .delivery-slot-select {
                        width: 100%;

                        >div {
                            justify-content: end !important;

                            >div {
                                display: none !important;
                            }
                        }

                        .title {
                            border-right: none;
                            width: 100% !important;
                        }
                    }
                }
            }



        }
        .payment-option-container {
            .payment-details{
                width: 100% !important;
                margin-left: 0px !important;
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .address-container{
        .payment-option-container {
            .payment-details{
                width: 60%;
            }
        }
    } 
}

