.main-banner-container {
  display: block;
  width: 100%;

  .slick-dots {
    bottom: 0;
    right: 0;
    width: 25%;
    height: 32px;
    text-align: left;

    li {
      vertical-align: middle;
      width: 8px;
      height: 8px;
      margin-top: 5px;

      button {
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 50%;
        background-color: #b4ccb4;

        &::before {
          display: none;
        }
      }

      &.slick-active {
        width: 24px;

        button {
          width: 24px;
          border-radius: 10px;
          background-color: #00b207;
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    width: 32px;
    height: 32px;
    top: 100%;
    z-index: 10;
    transform: translate(0, -100%);

    &::before {
      display: none;
    }
  }

  .slick-next {
    right: 0;
    border-radius: 50%;
    border: 1px solid #1f915166;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../img/slick-right-arrow.png");

    &:hover,
    &:focus {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("../../img/slick-right-arrow.png");
    }
  }

  .slick-prev {
    left: auto;
    right: 47px;
    border-radius: 50%;
    border: 1px solid #1f915166;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../img/slick-left-arrow.png");

    &:hover,
    &:focus {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("../../img/slick-left-arrow.png");
    }
  }

  .banner-contents {
    display: flex;
    width: 100%;

    .contents {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

      .mostly-organic {
        display: flex;
        width: 100%;

        span {
          display: inline-flex;
          padding: 5px 10px;
          font-size: 13px;
          line-height: 16px;
          font-weight: 500;
          color: #1f9151;
          border-radius: 15px;
          background-color: rgba(31, 145, 81, 0.1);
        }
      }

      .heading {
        display: flex;
        width: 75%;
        flex-wrap: wrap;
        font-size: 48px;
        line-height: 60px;
        font-weight: 600;
        color: #002603;

        span {
          display: inline-flex;
          margin-right: 10px;
          color: #1f9151;
        }
      }

      .text {
        display: flex;
        width: 75%;
        font-size: 13px;
        line-height: 22px;
        font-weight: 500;
        color: #00000080;
        margin-top: 10px;
      }

      .button {
        display: flex;
        width: 100%;
        margin-top: 20px;

        a {
          display: inline-flex;
          text-transform: capitalize;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          font-size: 14px;
          line-height: 22px;
          font-weight: 500;
          color: #ffffff;
          border-radius: 25px;
          background-color: #1f9151;

          svg {
            margin-left: 10px;
          }
        }
      }
    }

    .images {
      display: flex;
      width: 100%;
      position: relative;

      .upto-off-img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.featured-products-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 50px;

  .heading {
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #002603;
    margin-bottom: 30px;
  }

  .products {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;

    .product-box {
      display: inline-flex;
      flex-wrap: wrap;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e6e6e6;
      position: relative;
      width: 220px;
      margin-left: 10px;

      .sale {
        position: absolute;
        left: 0;
        top: 0;
        width: 90px;
        height: 32px;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        color: #ffffff;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        background-color: #1f9151;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 10px;
      }

      .icon {
        cursor: pointer;
        background-color: #fff;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 24px;
        height: 24px;
        font-size: 13px;
        color: #141b3499;
        font-weight: 400;
        line-height: 24px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 1px solid #e5e5e5;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        margin: 15px;
        cursor: pointer;

        img {
          max-height: 200px;
        }
      }

      .name {
        display: flex;
        width: 100%;

        a {
          font-size: 13px;
          line-height: 18px;
          color: #535554;
          font-weight: 400;

          &:hover {
            color: #1f9151;
          }
        }
      }

      .price-ratting {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .price {
          display: inline-flex;
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: #1a1a1a;
          align-items: center;

          img {
            max-width: 8px;
            height: 12px;
            margin-right: 2px;
          }

          span {
            margin-left: 7px;
            color: #adadad;
            font-weight: 400;
            text-decoration: line-through;
          }
        }

        .ratting {
          display: inline-flex;
          font-size: 14px;
          line-height: 18px;
          font-weight: 500;
          color: #1a1a1a;
          align-items: center;

          svg {
            width: 18px;
            margin-right: 3px;
            color: #ff8a00;
          }
        }
      }

      .select {
        display: flex;
        width: 100%;
        font-size: 12px;
        line-height: 16px;
        color: #adadad;

        .css-1eed5fa-MuiInputBase-root-MuiInput-root {
          border: 1px solid #a8a8a833;
          border-radius: 3px;
          padding-left: 10px;

          &::before {
            display: none;
          }

          &::after {
            display: none;
          }

          select {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

      .add-cart {
        display: flex;
        width: 100%;
        margin-top: 10px;

        .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
          border: 1px solid #1f9151;
          width: 100%;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #1f9151;
          text-transform: capitalize;
          height: 36px;
          &.Mui-disabled {
            color: rgba(0, 0, 0, 0.26) !important;
            border: 1px solid rgba(0, 0, 0, 0.12) !important;
          }
        }
      }
    }
  }

  .load-more-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    a {
      display: inline-flex;
      padding: 5px 15px;
      border-radius: 4px;
      border: 1px solid #1f9151;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #1f9151;
      text-transform: capitalize;
    }
  }

  .number-input-container {
    display: flex;
    width: 100%;

    .symbol {
      width: 33.33%;
      border: 1px solid #1f9151;
      background-color: #1f9151;
      height: 36px;
      cursor: pointer;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      border-radius: 4px 0px 0px 4px;

      &:last-child {
        border-radius: 0px 4px 4px 0px;
      }
    }

    .Number {
      width: 33.33%;
      height: 36px;
      border: 1px solid #1f9151;
      background-color: #ffffff;
      font-size: 16px;
      line-height: 24px;
      color: #1f9151;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
    }
  }
}

.service-container {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #117c40;

  .css-1oqqzyl-MuiContainer-root {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .services {
    width: 75%;

    .service-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .icon {
        display: inline-flex;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        background-color: #ffffff;
        margin-bottom: 15px;
      }

      .info {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .name {
          display: flex;
          width: 100%;
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
          color: #ffffff;
          text-align: center;
          justify-content: center;
        }

        .text {
          display: flex;
          width: 100%;
          font-size: 13px;
          line-height: 24px;
          font-weight: 400;
          color: #ffffff;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}

.offers-banners-container {
  display: flex;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  .heading {
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #002603;
    margin-bottom: 30px;
  }

  .banners {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    .image {
      display: inline-flex;
    }
  }
}

.customers-says-container {
  display: flex;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #117c40;

  .heading {
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .customers-container {
    padding-left: 60px;
    padding-right: 60px;

    .customers-says {
      width: calc(100% - 30px) !important;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 10px;
      background-color: #ffffff;

      .customers-info {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;

        .ratting {
          display: flex;
          width: 100%;

          svg {
            color: #ff8a00;

            &.gray {
              color: #cccccc;
            }
          }
        }

        .name {
          display: flex;
          width: 100%;
          font-size: 16px;
          line-height: 22px;
          font-weight: 600;
          color: #213028;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .text {
          display: flex;
          width: 100%;
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
          color: #406b41;
        }

        .customer-bg {
          display: flex;
          width: 100%;
          text-align: end;
          justify-content: flex-end;
        }
      }

      .customers-person {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #1f915180;

        .icon {
          display: inline-flex;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 15px;
        }

        .info {
          display: inline-flex;
          flex-wrap: wrap;
          width: calc(100% - 75px);

          .name {
            display: flex;
            width: 100%;
            color: #213028;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
          }

          .customer {
            display: flex;
            width: 100%;
            color: #1f9151;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      width: 32px;
      height: 32px;

      &::before {
        display: none;
      }
    }

    .slick-next {
      right: -45px;
      border-radius: 50%;
      border: 1px solid #c5c5c5;
      background-color: #ffffff;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("../../img/customer-right-arrow.png");

      &:hover,
      &:focus {
        background-color: #ffffff;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../../img/customer-right-arrow.png");
      }
    }

    .slick-prev {
      left: -45px;
      border-radius: 50%;
      border: 1px solid #c5c5c5;
      background-color: #ffffff;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("../../img/customer-left-arrow.png");

      &:hover,
      &:focus {
        background-color: #ffffff;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../../img/customer-left-arrow.png");
      }
    }
  }
}

.top-selling-categories-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 60px;

  .css-heg063-MuiTabs-flexContainer {
    overflow-x: auto;
    padding-bottom: 12px;
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    min-width: auto;
    font-size: 14px;
    line-height: 18px;
    color: #848d88;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0px;
    min-height: auto;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #b4ccb4;

    &.Mui-selected {
      color: #1f9151;
    }

    &:last-child {
      border-right: none;
    }
  }

  .css-1aquho2-MuiTabs-indicator {
    background-color: #1f9151;
    bottom: 22px;
  }

  .css-13xfq8m-MuiTabPanel-root {
    padding: 0px;
  }

  .heading {
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #002603;
    margin-bottom: 30px;
  }

  .slick-prev,
  .slick-next {
    width: 32px;
    height: 32px;
    top: -50px;
    z-index: 10;
    transform: translate(0, 0%);

    &::before {
      display: none;
    }
  }

  .slick-next {
    right: 0;
    border-radius: 50%;
    border: 1px solid #1f915166;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../img/slick-right-arrow.png");

    &:hover,
    &:focus {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("../../img/slick-right-arrow.png");
    }
  }

  .slick-prev {
    left: auto;
    right: 47px;
    border-radius: 50%;
    border: 1px solid #1f915166;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../img/slick-left-arrow.png");

    &:hover,
    &:focus {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("../../img/slick-left-arrow.png");
    }
  }

  .product-box {
    display: inline-flex;
    flex-wrap: wrap;
    width: calc(100% - 10px) !important;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    position: relative;

    .sale {
      position: absolute;
      left: 0;
      top: 0;
      width: 90px;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      font-weight: 400;
      color: #ffffff;
      display: inline-flex;
      justify-content: center;
      text-align: center;
      background-color: #1f9151;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 10px;
    }

    .icon {
      cursor: pointer;
      background-color: #fff;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 24px;
      height: 24px;
      font-size: 13px;
      color: #141b3499;
      font-weight: 400;
      line-height: 24px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      border: 1px solid #e5e5e5;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;

      img {
        max-height: 200px;
      }
    }

    .name {
      display: flex;
      width: 100%;

      a {
        font-size: 13px;
        line-height: 18px;
        color: #535554;
        font-weight: 400;

        &:hover {
          color: #1f9151;
        }
      }
    }

    .price-ratting {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .price {
        display: inline-flex;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #1a1a1a;
        align-items: center;

        img {
          max-width: 8px;
          height: 12px;
          margin-right: 2px;
        }

        span {
          margin-left: 7px;
          color: #adadad;
          font-weight: 400;
          text-decoration: line-through;
        }
      }

      .ratting {
        display: inline-flex;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #1a1a1a;
        align-items: center;

        svg {
          width: 18px;
          margin-right: 3px;
          color: #ff8a00;
        }
      }
    }

    .select {
      display: flex;
      width: 100%;

      .css-1eed5fa-MuiInputBase-root-MuiInput-root {
        border: 1px solid #a8a8a833;
        border-radius: 3px;
        padding-left: 10px;

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }

        select {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    .add-cart {
      display: flex;
      width: 100%;
      margin-top: 10px;

      .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
        border: 1px solid #1f9151;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #1f9151;
        text-transform: capitalize;
        height: 36px;
        &.Mui-disabled {
          color: rgba(0, 0, 0, 0.26) !important;
          border: 1px solid rgba(0, 0, 0, 0.12) !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-banner-container {
    .banner-contents {
      .contents {
        .heading {
          width: 100%;
          font-size: 32px;
          line-height: 40px;
        }
        .text {
          width: 100%;
        }
      }
    }

    .slick-dots {
      display: none !important;
    }

    .slick-prev,
    .slick-next {
      top: 100%;
    }
  }

  .top-selling-categories-container {
    .slick-slider {
      margin-top: 45px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .offers-banners-container {
    .banners {
      > div {
        > div {
          > div {
            justify-content: start !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 531px) {
  .featured-products-container {
    .products {
      .product-box {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .featured-products-container {
    .products {
      .product-box {
        width: 31.33%;
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-banner-container {
    .banner-contents {
      .images {
        .upto-off-img {
          width: 120px;
        }
      }
    }
  }
  .featured-products-container {
    .heading {
      font-size: 26px;
      line-height: 30px;
    }
    .products {
      .product-box {
        margin-left: 0px;
        width: 100%;
      }
    }
  }
  .offers-banners-container {
    .heading {
      font-size: 26px;
      line-height: 30px;
    }
  }
  .top-selling-categories-container {
    .heading {
      font-size: 26px;
      line-height: 30px;
    }
    .slick-prev,
    .slick-next {
      top: -45px;
    }
  }
  .customers-says-container {
    .heading {
      font-size: 26px;
      line-height: 30px;
    }
    .customers-container {
      padding: 0px 20px;
      .slick-prev {
        left: -25px;
      }
      .slick-next {
        right: -25px;
      }
    }
  }
}
