.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .header-top-container {
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    background-color: #005F41;

    .logo {
      display: flex;
      width: 180px;
      img {
        display: block;
      }
    }

    .header-top-right {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;

      .support-box {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 30px;
        color: #ffffff;

        img {
          max-width: 30px;
          margin-right: 10px;
        }
      }

      .deliver-box {
        display: inline-flex;
        align-items: center;
        margin-left: 30px;
        line-height: 30px;
        font-weight: 500;
        font-size: 13px;
        color: #ffffff;

        img {
          max-width: 30px;
          margin-left: 10px;
          margin-right: 10px;
        }

        span {
          color: #ffffff;
        }
      }

      .language-list-box {
        display: inline-flex;
        align-items: center;
        line-height: 30px;
        margin-left: 30px;

        .css-1eed5fa-MuiInputBase-root-MuiInput-root {
          &::before {
            border-bottom: none;
            display: none;
          }

          &::after {
            border-bottom: none;
            display: none;
          }

          select {
            padding-right: 20px;
            font-size: 13px;
          }

          .css-1g12qau-MuiSvgIcon-root-MuiNativeSelect-icon {
            right: -5px;
            top: 5px;
          }
        }
      }
    }
  }

  .header-categories-container {
    display: flex;
    width: 100%;
    padding-top: 15px;

    .categories {
      display: flex;
      width: 100%;

      ul {
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 0 30px 0 0;
          display: inline-flex;
          &:last-child {
            padding-right: 0px;
          }

          &.quick {
            a {
              font-style: italic;
              text-decoration: underline;
            }
          }

          a {
            color: #2a3a31;
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;

            &:hover {
              color: #1f9151;
            }
          }
        }
      }
    }
    .breadcrumb {
      display: inline-flex;
      width: auto;
      padding: 5px 10px;
      border-radius: 3px;
      border: 1px solid #d2cfcf;
      ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          padding: 0px 3px;

          display: inline-flex;
          &:last-child {
            padding-right: 0px;
          }
          &.active {
            a {
              color: #1f9151;
            }
          }

          a {
            display: flex;
            align-items: center;
            color: #2a3a31;
            font-size: 14px;
            line-height: 18px;
            font-weight: 500;

            &:hover {
              color: #1f9151;
            }
          }
        }
      }
    }
  }

  .header-bottom-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .categories-container {
      position: relative;
      z-index: 10;
      display: flex;
      width: 100%;

      .categories-toggle {
        display: inline-flex;
        align-items: center;
        max-width: 225px;
        font-size: 15px;
        line-height: 50px;
        color: #ffffff;
        font-weight: 500;
        padding: 0px 15px;
        border-radius: 4px;
        cursor: pointer;
        background-color: #1f9151;

        span {
          display: inline-flex;
          margin-left: 20px;
        }
      }

      .categories-box {
        display: flex;
        width: 430px;
        position: absolute;
        left: 0;
        top: 52px;
        z-index: 10;

        .categories {
          display: inline-flex;
          width: 230px;
          flex-wrap: wrap;
          background-color: #172e22;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          position: relative;
          z-index: 10;

          h2 {
            display: flex;
            width: 100%;
            color: #ffffff;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            padding: 12px 25px;
            border-bottom: 2px solid #fff;
          }

          ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            list-style: none;
            padding: 0px 15px;
            margin-top: 10px;
            margin-bottom: 10px;

            li {
              display: flex;
              width: 100%;
              margin-bottom: 5px;

              a {
                display: flex;
                width: 100%;
                color: #ffffff;
                font-size: 13px;
                line-height: 22px;
                font-weight: 400;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 3px;

                &:hover {
                  background-color: rgba(48, 57, 52, 1);
                }
              }
            }
          }
        }
        .sub-categories {
          display: block;
          left: 230px;
          top: 0;
          position: absolute;
          width: 200px;
          height: 100%;
          background-color: #f3fbf7;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          h3 {
            display: flex;
            width: 100%;
            color: #172e22;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            padding: 12px 25px;
            border-bottom: 2px solid #172e22;
          }

          ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            list-style: none;
            padding: 0px 15px;
            margin-top: 10px;
            margin-bottom: 10px;

            li {
              display: flex;
              width: 100%;
              margin-bottom: 5px;

              a {
                display: flex;
                width: 100%;
                color: #172e22;
                font-size: 13px;
                line-height: 22px;
                font-weight: 400;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 3px;

                &:hover {
                  background-color: rgba(23, 46, 34, 0.2);
                }
              }
            }
          }
        }
      }
      .categories-bg {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }

    .search-box {
      display: inline-flex;
      width: 100%;

      .search {
        width: 100%;

        input {
          padding-top: 15px;
          padding-bottom: 12px;
        }
      }

      .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
        &.Mui-focused {
          .MuiOutlinedInput-notchedOutline {
            border-color: #1f9151;
          }
        }
      }
    }

    .notification {
      padding: 0;
      border: none;
      position: relative;
      min-width: 24px;
      margin-right: 30px;

      span {
        margin: 0;
      }

      p {
        position: absolute;
        right: -5px;
        bottom: -2px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #c83c3c;
      }
    }

    .card {
      padding: 0;
      border: none;
      position: relative;
      min-width: 24px;

      span {
        margin: 0;
      }

      p {
        position: absolute;
        right: -5px;
        top: -2px;
        width: 14px;
        height: 14px;
        font-size: 10px;
        line-height: 14px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 50%;
        background-color: #1f9151;
      }
    }
  }
}

@media (max-width: 1150px) {
  .header {
    .header-categories-container {
      .categories {
        ul {
          li {
            padding-right: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .header {
    .header-top-container {
      .header-top-right {
        .support-box {
          font-size: 0px;
        }
        .deliver-box {
          display: none;
        }
      }
    }
    .header-categories-container {
      .categories {
        display: none;
        &.menu {
          display: flex;
        }
      }
    }

    .header-bottom-container {
      .search-icon {
        min-width: auto;
        margin-right: 15px;
        padding: 0;
        border-color: transparent;
        
      }

      .notification {
        margin-right: 15px;
      }
    }
    .search-box {
      display: none;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      &.active {
        display: block;
      }
      .MuiFormControl-root {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    .header-bottom-container {
      .categories-container {
        .categories-toggle {
          padding: 10px 10px;
          max-width: 160px;
          font-size: 13px;
          line-height: 20px;
        }
        .categories-box {
          flex-wrap: wrap;
          width: 230px;
          .categories {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
          .sub-categories {
            position: relative;
            left: 0;
            width: 230px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }
      }
    }
  }
}
